<div class="page-header">
  <h1>Topics</h1> <br>
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-xs btn-success' %>
</div>
<div class="row">
</div>
<div class="row">
 <div class="col-md-8">
   <%= render partial: 'topics/topic', locals: { topic: @topic } %>
 </div>
</div>
